{% extends 'base.html.twig' %}

{% block title %}Modifier le Livre{% endblock %}

{% block body %}
    <h1>Modifier le livre</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Mettre à jour</button>
    {{ form_end(form) }}

    <a href="{{ path('book_index') }}" class="btn btn-secondary mt-3">Retour à la liste</a>
{% endblock %}